@media (max-width: 425px) {

h1{
  line-height: 40px;
  font-size: 28px;
}

h2{
  line-height: 40px;
  font-size: 32px;
}

h3{
  line-height: 32px;
  font-size: 24px;
}

h4{
  line-height: 20px;
  font-size: 27px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}


 /**/



.mobileMenubar {
  display: block;
  padding: 2px 15px;
}

.navbar{
  display: none;
}

.topbar{
  display: none;
}

.slide-area {
  padding: 40px 0
}

.home-hero{
  height: auto;
  padding: 100px 0 50px
}


.home-hero .inner{
  margin-top: 50px;
}

.home-hero h1{
  font-size: 35px;
  line-height: 45px;
}

.home-hero .btn-area{
  margin-top: 40px;
  flex-direction: column;
  grid-row-gap: 20px
}

.fixed-left-social{
  display: none;
}




.inner-hero{
  padding: 50px 0;
  margin-top: 100px;
}

.inner-hero h1{
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 42px;
}

.inner-hero p.content-para{
  font-size: 18px;
}
.inner-hero h2{
  font-size: 24px;
  color: #fff;
  line-height: 30px;
}


/**/

.home-section-1 {
  padding: 40px 0
}
.home-section-1 .inner{
  width: 100%;
  max-width: 325px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
}



.home-section-2{
  padding: 50px 0;
}

.home-section-2 .inner{
  flex-direction:column-reverse;
}

.home-section-2 .col-left{
  width: 100%;
  text-align: center;
}

.home-section-2 h2{
  margin-bottom: 15px;
}

.home-section-2 p{
  margin-bottom: 15px;
  font-size: 20px;
}

.home-section-2 .col-right{
  width: 100%;
  text-align: center;
}

.home-section-2 .feature-area{
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  grid-row-gap: 20px
}

.home-section-2 .feature-area .item{
  background-color: #0e1d30;
  border-radius: 8px;
  padding:50px 45px;
}

.home-section-2 .feature-area .item.highlight{
  background-color:var(--secondary)
}




.home-section-3{
  padding:50px 0;
}

.home-section-3 h2{
  line-height: 35px;
}

.home-section-3 h2 span{
  font-size: 20px;
}


.home-section-3 .inner{
  width: 100%;
  flex-direction: column;
  display: flex;
  grid-row-gap: 90px;
}

.home-section-3 .number{
  font-size: 100px;
  margin-bottom: 35px;
}


.home-section-3 .item .arrow-1{
  display: none;
}

.home-section-3 .item .arrow-2{
  display: none;
}

.home-section-3 .item .arrow-3{
  display: none;
}

.home-section-3 .item .arrow-4{
  display: none;
}

.home-section-3 .item .arrow-5{
  display: none;
}

.home-section-3 .item:nth-child(4){
  order: 6
}

.home-section-3 .item:nth-child(5){
  order: 4
}



.home-section-4{
  padding:50px 0;
}
.home-section-4 .inner{
  display: flex;
  flex-direction: column;
  grid-row-gap: 30px;
}

.home-section-4 .inner .col-left{
  width: 100%;
}

.home-section-4 .inner .col-right{
  display: flex;
  flex-direction: column;
  grid-row-gap: 20px;
}

.home-section-5{
  padding: 50px 0 60px 0;
}
.home-section-5 .inner{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}






.logo-slider{
  padding: 40px 0 50px 0;
}

.client-area{
  padding: 40px 0;
  position: relative;
}

.cta{
  padding:50px 0 60px 0;
}

.cta .inner{
  flex-direction: column;
  grid-row-gap: 20px;
}

.cta .inner .col-left{
  width: 100%;
}

.cta .inner .col-right{
  width: 100%;
}

.cta ul li{
  font-size: 18px;
}

.cta .form{
  padding: 25px;
  border-radius: 10px;
}

.cta .grid-row{
  flex-direction: column;
}



.faq{
  padding:50px 0 60px 0;
}

.faq .inner{
  margin-top: 40px;
}



/**/

.about-1{
  position: relative;
  padding: 50px 0;
}
.about-1 .inner{
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  grid-row-gap: 20px
}

.about-1 .item{
  border-radius: 15px;
  padding:35px 10px;
}
.about-1 .number{
  font-size: 40px;
}

.about-1 h3{
  font-size: 24px;
  margin-bottom: 5px;
}


/**/

.about-2{
  position: relative;
  padding: 50px 0;
}

.about-2 .inner{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}



.about-3{
  padding: 50px 0;
}

.about-3 h2{  
  line-height: 40px
}

.about-3 .inner{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}

.about-3 .item{
  padding:20px 05px;
  border-radius: 5px;
}


.about-3 .item .icon{
  max-width: 45px;
}

.about-3 .item h3{
  font-size: 17px;
}



.services-4{
  padding:50px 0 50px 0;
  position: relative;
  background-color: #fff;
}

.services-4 .item{
  flex-direction: column;
}

.services-4 ul.tags{
  display:block;
  grid-column-gap: 10px;
  margin-bottom: 15px;
}

.services-4 ul.tags li{
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 5px;
}

.services-4 .col{
  width: 100%;
}

.services-4 .col-2{
  width: 100%;
}



.tabs .innerpanel{
  padding: 30px 0;
  flex-direction: column;
}

.tabs .innerpanel br{
  display: none;
}





.services-heighligher{
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
}



.services-heighligher .item{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services-heighligher h3{
  font-size: 15px;
  font-weight: 500
}

.services-heighligher .icon{
  max-width: 44px;
  margin: auto;
  margin-bottom: 8px;
}





.services-3{
  padding:50px 0 1px 0;
  position: relative;
  background-color: #fff7ee;
}


.services-3 .inner{
  flex-direction: column;
  grid-row-gap: 30px;
}

.services-3 .inner .col-left{
  width: 100%;
}

.services-3 h3{
  font-size: 28px;
}

.services-3 h4{
  line-height: 30px;
  font-size: 22px;
}
.services-3 .inner:nth-child(4){
  flex-direction: column-reverse;
}
.services-3 .inner:nth-child(6){
  flex-direction: column-reverse;
}
.services-3 .inner:nth-child(8){
  flex-direction: column-reverse;
}
.services-3 .inner:nth-child(10){
  flex-direction: column-reverse;
}





.services-5{
  padding: 50px 0;
}

.services-5 h2{  
  line-height: 40px
}

.services-5 .inner{
  display: flex;
  flex-direction: column;
  grid-row-gap: 30px;
}





.services-6{
  padding:50px 0;
}

.services-6 .inner .col-left{
  width: 100%;
}

.services-6 .inner .col-right{
  width: 100%;
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}





.hire-developer-step{
  padding:50px 0;
}

.hire-developer-step h2{  
  line-height: 40px
}

.hire-developer-step .inner{
  display: flex;
  flex-direction: column;
  grid-row-gap: 50px;
  margin-top: 50px;
  align-items: center;
}

.hire-developer-step .item:nth-child(3){
  order: 3
}


.hire-developer-step .number{
  font-size: 70px;
  margin-bottom: 30px;
}

.hire-developer-step .item .arrow-1{
  display: none;
}

.hire-developer-step .item .arrow-2{
  display: none;
}

.hire-developer-step .item .arrow-3{
  display: none;
}

.hire-developer-step .item .arrow-4{
  display: none;
}

.hire-developer-step .item .arrow-5{
  display: none;
}

.hire-developer-step .inner2{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  max-width: 360px;
}

.hire-developer-step h3{
  font-size: 24px;
  margin-bottom: 10px;
}
.hire-developer-step h4{
  font-size: 22px;
}



/**/


.footer{
  padding: 30px 0
}



.footer .inner{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}



}

@media (min-width: 426px) and (max-width: 767px) {

h1{
  line-height: 40px;
  font-size: 28px;
}

h2{
  line-height: 40px;
  font-size: 35px;
}

h3{
  line-height: 32px;
  font-size: 24px;
}

h4{
  line-height: 20px;
  font-size: 27px;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
}


.topbar{
  display: none;
}


.mobileMenubar {
  display: block;
  padding: 8px 15px;
}

.navbar{
  display: none;
}


.home-hero{
  height: auto;
  padding: 100px 0 50px
}



.inner-hero{
  padding: 50px 0;
  margin-top: 110px;
}

.inner-hero h1{
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 42px;
}

.inner-hero p.content-para{
  font-size: 18px;
}
.inner-hero h2{
  font-size: 24px;
  color: #fff;
  line-height: 30px;
}



.home-section-1 {
  padding: 40px 0
}
.home-section-1 .inner{
  width: 100%;
  max-width: 325px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
}
.home-hero .inner{
  margin-top: 50px;
}

.home-hero h1{
  font-size: 35px;
  line-height: 45px;
}

.home-hero .btn-area{
  margin-top: 40px;
  flex-direction: column;
  grid-row-gap: 20px
}

.fixed-left-social{
  display: none;
}




.home-section-1 {
  padding: 40px 0
}
.home-section-1 .inner{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
}



.home-section-2{
  padding: 50px 0;
}

.home-section-2 .inner{
  flex-direction:column-reverse;
}

.home-section-2 .col-left{
  width: 100%;
  text-align: center;
}

.home-section-2 h2{
  margin-bottom: 15px;
}

.home-section-2 p{
  margin-bottom: 15px;
  font-size: 20px;
}

.home-section-2 .col-right{
  width: 100%;
  text-align: center;
}

.home-section-2 .feature-area{
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  grid-row-gap: 20px
}

.home-section-2 .feature-area .item{
  background-color: #0e1d30;
  border-radius: 8px;
  padding:50px 45px;
}

.home-section-2 .feature-area .item.highlight{
  background-color:var(--secondary)
}




.home-section-3{
  padding:50px 0;
}

.home-section-3 h2{
  line-height: 35px;
}

.home-section-3 h2 span{
  font-size: 20px;
}


.home-section-3 .inner{
  width: 100%;
  flex-direction: column;
  display: flex;
  grid-row-gap: 90px;
}

.home-section-3 .number{
  font-size: 100px;
  margin-bottom: 35px;
}

.home-section-3 .item{
  position: relative;
  max-width: 320px;
  margin: auto;
}

.home-section-3 .item:nth-child(4){
  order: 6
}

.home-section-3 .item:nth-child(5){
  order: 4
}





.home-section-3 .item .arrow-1{
  display: none;
}

.home-section-3 .item .arrow-2{
  display: none;
}

.home-section-3 .item .arrow-3{
  display: none;
}

.home-section-3 .item .arrow-4{
  display: none;
}

.home-section-3 .item .arrow-5{
  display: none;
}


.home-section-4{
  padding:50px 0;
}
.home-section-4 .inner{
  display: flex;
  flex-direction: column;
  grid-row-gap: 30px;
}

.home-section-4 .inner .col-left{
  width: 100%;
}

.home-section-4 .inner .col-right{
  display: flex;
  flex-direction: column;
  grid-row-gap: 20px;
}

.home-section-5{
  padding: 50px 0 60px 0;
}
.home-section-5 .inner{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  grid-row-gap: 30px;
}



.logo-slider{
  padding: 40px 0 50px 0;
}

.client-area{
  padding: 40px 0;
  position: relative;
}



.cta{
  padding:50px 0 60px 0;
}

.cta .inner{
  flex-direction: column;
  grid-row-gap: 20px;
}

.cta .inner .col-left{
  width: 100%;
}

.cta .inner .col-right{
  width: 100%;
}

.cta ul li{
  font-size: 18px;
}

.cta .form{
  padding: 25px;
  border-radius: 10px;
}

.cta .grid-row{
  flex-direction: column;
}


.faq{
  padding:50px 0 60px 0;
}

.faq .inner{
  margin-top: 40px;
}



/**/

.about-1{
  position: relative;
  padding: 50px 0;
}
.about-1 .inner{
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  grid-row-gap: 20px
}

.about-1 .item{
  border-radius: 15px;
  padding:35px 10px;
}
.about-1 .number{
  font-size: 40px;
}

.about-1 h3{
  font-size: 24px;
  margin-bottom: 5px;
}


/**/

.about-2{
  position: relative;
  padding: 50px 0;
}

.about-2 .inner{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.about-2 .item{
  width: 100%;
  max-width: 460px;
  margin: auto;
}

/**/

.about-3{
  padding: 50px 0;
}

.about-3 h2{  
  line-height: 40px
}

.about-3 .inner{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}

.about-3 .item{
  padding:20px 05px;
  border-radius: 5px;
}


.about-3 .item .icon{
  max-width: 45px;
}

.about-3 .item h3{
  font-size: 17px;
}




.services-4{
  padding:50px 0 50px 0;
  position: relative;
  background-color: #fff;
}

.services-4 .item{
  flex-direction: column;
}

.services-4 ul.tags{
  display:block;
  grid-column-gap: 10px;
  margin-bottom: 15px;
}

.services-4 ul.tags li{
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 5px;
}

.services-4 .col{
  width: 100%;
}

.services-4 .col-2{
  width: 100%;
}


.services-heighligher{
  grid-template-columns: repeat(3, 1fr);
}

.services-heighligher .item{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services-heighligher h3{
  font-size: 18px;
  font-weight: 500
}

.services-heighligher .icon{
  max-width: 70px;
  margin: auto;
  margin-bottom: 8px;
}



.services-3{
  padding:50px 0 1px 0;
  position: relative;
  background-color: #fff7ee;
}


.services-3 .inner{
  flex-direction: column;
  grid-row-gap: 30px;
}

.services-3 .inner .col-left{
  width: 100%;
}

.services-3 h3{
  font-size: 30px;
}

.services-3 h4{
  line-height: 32px;
}
.services-3 .inner:nth-child(4){
  flex-direction: column-reverse;
}
.services-3 .inner:nth-child(6){
  flex-direction: column-reverse;
}
.services-3 .inner:nth-child(8){
  flex-direction: column-reverse;
}
.services-3 .inner:nth-child(10){
  flex-direction: column-reverse;
}




.services-5{
  padding: 50px 0;
}

.services-5 h2{  
  line-height: 40px
}

.services-5 .inner{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  grid-row-gap: 30px;
}

.services-5 .item {
  min-height: auto
}



.services-6{
  padding:50px 0;
}

.services-6 .inner .col-left{
  width: 100%;
}

.services-6 .inner .col-right{
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}



.hire-developer-step{
  padding:50px 0;
}

.hire-developer-step h2{  
  line-height: 40px
}

.hire-developer-step .inner{
  display: flex;
  flex-direction: column;
  grid-row-gap: 50px;
  margin-top: 50px;
  align-items: center;
}

.hire-developer-step .item:nth-child(3){
  order: 3
}


.hire-developer-step .number{
  font-size: 70px;
  margin-bottom: 30px;
}

.hire-developer-step .item .arrow-1{
  display: none;
}

.hire-developer-step .item .arrow-2{
  display: none;
}

.hire-developer-step .item .arrow-3{
  display: none;
}

.hire-developer-step .item .arrow-4{
  display: none;
}

.hire-developer-step .item .arrow-5{
  display: none;
}

.hire-developer-step .inner2{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  max-width: 360px;
}

.hire-developer-step h3{
  font-size: 24px;
  margin-bottom: 10px;
}
.hire-developer-step h4{
  font-size: 22px;
}




/**/

.footer{
  padding: 30px 0
}



.footer .inner{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.footer .col-4{
  width: 100%
}


}

@media (min-width: 768px) and (max-width: 1024px) {

h1{
  line-height: 55px;
  font-size: 42px;
}

h2{
  line-height: 50px;
  font-size: 38px;
}

h3{
  line-height: 35px;
  font-size: 26px;
}

h4{
  line-height: 29px;
  font-size: 22px;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
}


.topbar{
  display: none;
}


.mobileMenubar {
  display: block;
  padding: 8px 15px;
}

.navbar{
  display: none;
}


.home-hero .inner{
  max-width: 580px;
  margin-top: 135px;
}

.home-hero h1{
  font-size: 50px;
  line-height: 50px;
}

.home-hero h2{
  font-size: 24px;
}


.fixed-left-social{
  right: 25px;
}




.inner-hero{
  padding: 50px 0;
  margin-top: 110px;
}

.inner-hero h1{
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
  font-size: 50px;
}

.inner-hero p.content-para{
  font-size: 18px;
}
.inner-hero h2{
  font-size: 30px;
  color: #fff;
  line-height: 40px;
}




.home-section-1 {
  padding: 40px 0
}

.home-section-1 {
  padding: 40px 0
}
.home-section-1 .inner{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
}




.home-section-2{
  padding: 50px 0;
}

.home-section-2 .inner{
  flex-direction:column-reverse;
  grid-row-gap: 30px;
}

.home-section-2 .col-left{
  width: 100%;
  text-align: center;
}

.home-section-2 h2{
  margin-bottom: 15px;
}

.home-section-2 p{
  margin-bottom: 15px;
  font-size: 20px;
}

.home-section-2 .col-right{
  width: 100%;
  text-align: center;
}

.home-section-2 .feature-area{
  column-gap: 30px;
  grid-row-gap: 30px;
  max-width: 680px;
  margin: auto;
}

.home-section-2 .feature-area .item{
  background-color: #0e1d30;
  border-radius: 8px;
  padding:50px 35px;
}

.home-section-2 .feature-area .item.highlight{
  background-color:var(--secondary)
}




.home-section-3{
  padding:50px 0;
}

.home-section-3 h2 span{
  font-size: 28px;
}

.home-section-3 p.content-para{
  font-size: 20px;
  max-width: 800px;
  margin: auto;
}

.home-section-3 .inner{
  width: 100%;
  max-width: 700px;
  margin: auto;
  grid-column-gap: 40px;
  margin-top: 80px;
  grid-row-gap: 85px;
}

.home-section-3 .item{
  position: relative;
}

.home-section-3 .number{
  font-size: 100px;
  margin-bottom: 40px;
}

.home-section-3 h3{
  font-size: 24px;
  margin-bottom: 10px;
}

.home-section-3 .item .arrow-1{
  top: -40px;
  right: -85px;
  max-width: 120px;
}

.home-section-3 .item .arrow-2{
  top: -60px;
  right: -80px;
  max-width: 120px;
}

.home-section-3 .item .arrow-3{
  display: none;
}

.home-section-3 .item .arrow-4{
  top: -60px;
  left: -85px;
  max-width: 130px;
}

.home-section-3 .item .arrow-5{
  top: -50px;
  left: -80px;
  max-width: 120px;
}




.home-section-4{
  padding:50px 0 60px 0;
  position: relative;
  background-color: #fff2e6;
}

.home-section-4 .inner{
  flex-direction: column;
}

.home-section-4 .inner .col-left{
  width: 100%;
}

.home-section-4 .inner .col-right{
  grid-column-gap: 40px;
}

.home-section-4 .item h3{
  font-size: 24px;
}


.home-section-5{
  padding: 50px 0 60px 0;
}
.home-section-5 .inner{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  grid-row-gap: 30px;
}




.cta{
  padding:50px 0 60px 0;
}

.cta .inner{
  flex-direction: column;
  grid-row-gap: 20px;
}

.cta .inner .col-left{
  width: 100%;
}

.cta .inner .col-right{
  width: 100%;
}



.logo-slider{
  padding: 50px 0 60px 0;

}

.client-area{
  padding: 40px 0;
  position: relative;
}



.faq{
  padding:50px 0 60px 0;
}

.faq .inner{
  margin-top: 50px;
}




/**/

.about-1{
  position: relative;
  padding: 50px 0;
}
.about-1 .inner{
  position: relative;
  width: 100%;
  max-width: 640px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

.about-1 .item{
  border-radius: 15px;
  padding:35px 10px;
  width: 100%;
}
.about-1 .number{
  font-size: 60px;
}

.about-1 h3{
  font-size: 24px;
  margin-bottom: 5px;
}


/**/

.about-2{
  position: relative;
  padding: 50px 0;
}

.about-2 .inner{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.about-2 .item{
  width: 100%;
  max-width: 460px;
  margin: auto;
}

/**/

.about-3{
  padding: 50px 0;
}

.about-3 h2{  
  line-height: 40px
}

.about-3 .inner{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.about-3 .item{
  padding:20px 05px;
  border-radius: 5px;
}


.about-3 .item .icon{
  max-width: 45px;
}

.about-3 .item h3{
  font-size: 17px;
}





.services-4{
  padding:50px 0 50px 0;
  position: relative;
  background-color: #fff;
}

.services-4 .item{
  flex-direction: column;
}

.services-4 ul.tags{
  display:block;
  grid-column-gap: 10px;
  margin-bottom: 15px;
}

.services-4 ul.tags li{
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 5px;
}

.services-4 .col{
  width: 100%;
}

.services-4 .col-2{
  width: 100%;
}



.services-heighligher{
  grid-template-columns: repeat(3, 1fr);
  max-width: 500px;
}

.services-heighligher .item{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.services-3{
  padding:50px 0 1px 0;
  position: relative;
  background-color: #fff7ee;
}


.services-3 .inner{
  flex-direction: column;
  grid-row-gap: 30px;
}

.services-3 .inner .col-left{
  width: 100%;
}

.services-3 h3{
  font-size: 28px;
}

.services-3 h4{
  line-height: 30px;
  font-size: 22px;
}
.services-3 .inner:nth-child(4){
  flex-direction: column-reverse;
}
.services-3 .inner:nth-child(6){
  flex-direction: column-reverse;
}
.services-3 .inner:nth-child(8){
  flex-direction: column-reverse;
}
.services-3 .inner:nth-child(10){
  flex-direction: column-reverse;
}






.services-5{
  padding: 50px 0;
}


.services-5 .inner{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  grid-row-gap: 30px;
}

.services-5 .item {
  min-height: auto
}




.hire-developer-step{
  padding:50px 0;
}

.hire-developer-step h2{  
  line-height: 40px
}

.hire-developer-step .inner{
  display: flex;
  flex-direction: column;
  grid-row-gap: 80px;
  margin-top: 80px;
  align-items: center;
}

.hire-developer-step .item:nth-child(3){
  order: 3
}


.hire-developer-step .number{
  font-size: 125px;
}

.hire-developer-step .item .arrow-1{
  display: none;
}

.hire-developer-step .item .arrow-2{
  display: none;
}

.hire-developer-step .item .arrow-3{
  display: none;
}

.hire-developer-step .item .arrow-4{
  display: none;
}

.hire-developer-step .item .arrow-5{
  display: none;
}

.hire-developer-step .inner2{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  max-width: 520px;
}


.hire-developer-step h4{
  font-size: 22px;
}





/**/


.footer{
  padding: 30px 0
}



.footer .inner{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.footer .col-4{
  width: 100%
}




}

@media (min-width: 1025px) and (max-width: 1240px) {

.container {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar .nav ul{
  font-size: 19px;
}
.navbar .nav ul li{
  display: inline-block;
  padding-right: 25px;
}

.navbar .nav ul li:last-child{
  padding-right: 0;
}

.navbar .nav ul li:nth-child(6){
  padding-right: 25px;
}

.navbar .nav ul li:nth-child(7){
  padding-right: 12px;
}


.navbar .whychooseBtn{
  width: 150px;
  height: 44px;
}

.navbar .contactBtn{
  width: 150px;
  height: 44px;
  font-size: 20px;
}


.home-section-1 .inner{
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  margin-top: 40px;
}

.home-section-1 .item{
  min-height: 320px;
}


.home-section-2{
  padding: 50px 0;
}

.home-section-2 .inner{
  flex-direction:column-reverse;
  grid-row-gap: 30px;
}

.home-section-2 .col-left{
  width: 100%;
  text-align: center;
}

.home-section-2 h2{
  margin-bottom: 15px;
}

.home-section-2 p{
  margin-bottom: 15px;
  font-size: 20px;
}

.home-section-2 .col-right{
  width: 100%;
  text-align: center;
}

.home-section-2 .feature-area{
  column-gap: 30px;
  grid-row-gap: 30px;
  max-width: 680px;
  margin: auto;
}



.home-section-3{
  padding:50px 0;
}

.home-section-3 h2 span{
  font-size: 28px;
}

.home-section-3 p.content-para{
  font-size: 20px;
  max-width: 800px;
  margin: auto;
}

.home-section-3 .inner{
  width: 100%;
  max-width: 800px;
  margin: auto;
  grid-column-gap: 40px;
  margin-top: 80px;
  grid-row-gap: 85px;
}

.home-section-3 .item{
  position: relative;
}

.home-section-3 .number{
  font-size: 100px;
  margin-bottom: 40px;
}

.home-section-3 h3{
  font-size: 24px;
  margin-bottom: 10px;
}

.home-section-3 .item .arrow-1{
  top: -40px;
  right: -85px;
  max-width: 120px;
}

.home-section-3 .item .arrow-2{
  top: -60px;
  right: -80px;
  max-width: 120px;
}

.home-section-3 .item .arrow-3{
  top: 150px;
  max-width: 140px;
  right: -80px;
}

.home-section-3 .item .arrow-4{
  top: -60px;
  left: -85px;
  max-width: 130px;
}

.home-section-3 .item .arrow-5{
  top: -50px;
  left: -80px;
  max-width: 120px;
}



/**/

.about-1{
  position: relative;
  padding: 70px 0;
}
.about-1 .inner{
  position: relative;
  width: 100%;
  max-width: 640px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

.about-1 .item{
  border-radius: 15px;
  padding:35px 10px;
  width: 100%;
}
.about-1 .number{
  font-size: 60px;
}

.about-1 h3{
  font-size: 24px;
  margin-bottom: 5px;
}


/**/

.about-2{
  position: relative;
  padding: 70px 0;
}

.about-2 .inner{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.about-2 .item{
  width: 100%;
  max-width: 460px;
  margin: auto;
}

/**/

.about-3{
  padding: 70px 0;
}

.about-3 h2{  
  line-height: 40px
}

.about-3 .inner{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.about-3 .item{
  padding:20px 05px;
  border-radius: 5px;
}



.about-3 .item h3{
  font-size: 17px;
}


/**/




.footer{
  padding: 30px 0
}



}

@media (min-width: 1241px) and (max-width: 1439px)  {

.navbar .nav ul li{
  padding-right: 25px;
}

.navbar .nav ul li:nth-child(6){
  padding-right: 35px;
}


.home-section-2 .inner{
  grid-column-gap: 40px;
}

.home-section-2 .feature-area{
  column-gap: 20px;
  grid-row-gap: 20px;
}

.home-section-2 .feature-area .item{
  padding:55px 25px;
}


.home-section-3 p.content-para{
  font-size: 20px;
  max-width: 800px;
  margin: auto;
}

.home-section-3 .inner{
  width: 100%;
  max-width: 1000px;
  margin: auto;
  grid-column-gap: 40px;
  margin-top: 80px;
  grid-row-gap: 85px;
}

.home-section-3 .item{
  position: relative;
}


.home-section-3 h3{
  font-size: 28px;
  margin-bottom: 10px;
}

.home-section-3 .item .arrow-1{
  top: -60px;
  right: -85px;
  max-width: 150px;
}

.home-section-3 .item .arrow-2{
  top: -60px;
  right: -95px;
  max-width: 150px;
}

.home-section-3 .item .arrow-3{
  top: 150px;
  max-width: 160px;
  right: -80px;
}

.home-section-3 .item .arrow-4{
  top: -60px;
  left: -100px;
  max-width: 150px;
}

.home-section-3 .item .arrow-5{
  top: -50px;
  left: -100px;
  max-width: 150px;
}




}




/*

@media (max-width: 575px) {}
@media (min-width: 576px) and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) { }
@media (min-width: 992px) and (max-width: 1440px) { }
@media (min-width: 1440px) and (max-width: 1920px) { }

*/

